{% load craft_extras %}

{% include "craft/header.html" %}
<h2>{{ object.name }}</h2>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/auctions/{{ object.id }}">View auctions</a></li>
</ul>

<p>Price: {{ object.price.price|gold }}</p>

{% if object.craft_set.all %}

<p>Simple Cost: {{ object.simple_cost|gold }}</p>
<p>Deep Cost: {{ object.cost|gold }}</p>
<p>Deep Profit: <strong>{{ object.deep_profit|gold }}</strong></p>


<h3>Crafting Mats</h3>
<table>
<tr>
    <th>Mat</th>
    <th>Count</th>
    <th>Price</th>
</tr>
{% for item in object.craft_set.all %}
<tr>
    <td><a href="/item/{{ item.reagent.id }}">{{ item.reagent.name }}</a></td>
    <td>{{ item.count }}</td>
    <td>{{ item.reagent.price.price|gold }}</td>
</tr>

{% endfor %}
</table>
{% endif %}


<button id="show_tooltip">Show tooltip</button>
{% autoescape off %}
<div class = "tooltip" style = "display: none">
    <h3>Tooltip (from wowhead)</h3>

    {{ object.tooltip }}
</div>
{% endautoescape %}
<script type="text/javascript">
 $("#show_tooltip").click(function () {
    $(".tooltip").show("slow");
    $("#show_tooltip").hide();
    });
</script>

{% include "craft/footer.html" %}
